DATABASE_URL="postgresql://postgres:senha@localhost:5432/proyecto_final"
JWT_SECRET="seu-jwt-secret"
MOCKPAY_BASE_URL="https://api-mock-payment.funvaltech.cloud"
MOCKPAY_SECRET_KEY="sua-chave-do-mockpay"
PORT=3000